version: '3'
services:
  mjopen-dev:
    build:
      context: .
      dockerfile: src/Midjourney.API/Dockerfile
    container_name: mjopen-rix
    restart: always
    network_mode: host
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8186
      - TZ=Asia/Shanghai
    user: root
    volumes:
      - .:/src                                     # 源码目录
      - ${HOME}/.nuget:/root/.nuget               # nuget缓存
      - ./logs:/app/logs:rw                       # 日志
      - ./data:/app/data:rw                       # 数据
      - ./wwwroot/attachments:/app/wwwroot/attachments:rw                # 附件
      - ./wwwroot/ephemeral-attachments:/app/wwwroot/ephemeral-attachments:rw  # 临时附件
      - ./appsettings.Production.json:/app/appsettings.Production.json:ro      # 配置文件
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro